<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.argonlabs.hbrecordermod">

    <application
        android:requestLegacyExternalStorage="true"
        tools:targetApi="q">

        <service android:name="com.argonlabs.hbrecordermod.ScreenRecordService"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />

        <receiver android:name="com.argonlabs.hbrecordermod.NotificationReceiver"/>

    </application>

</manifest>
